<h2>All Flights</h2>

<% @flights.each do |flight| %>
	<ul id="flight-<%= flight.id %>">
		<li><h4>Flight #<%= flight.number %> - <%= flight.airline.name %></h4></li>
			Passengers:
			<ul id='passengers' >
				<% flight.passengers.each do |passenger| %>
					<li id="passenger-<%= passenger.id %>" style='display:inline-block;'>
					<%= passenger.name %><%= button_to 'Remove from Flight', flight_passenger_path(passenger), params: {flight: flight}, method: :delete %>
					</li><br><br>
				<% end %>
			</ul>
	</ul>
<% end %>