<h1>Flights:</h1>


<% @flights.each do |flight| %>
  
  <div id="flight-<%= flight.id %>">
    <p><%= flight.number %> - <%= flight.airline.name %></p>
    <p>Passengers:</p>
    <% flight.passengers.each do |passenger|%>
      <div id="passenger-<%= passenger.id %>-flight-<%= flight.id %>">
      
      <p><%= passenger.name %>  <%= link_to "Delete Passenger", "/passenger_flights/#{passenger.passenger_flights.first.id}", method: :delete %></p>
      </div>
    <% end %>
  </div>
<% end %>