<h3>All Flights</h3>
<h4>Flight Numbers:</h4>

<ul>
  <% @flights.each do |flight| %>
    <div id=<%= flight.number %>>
      <li>Flight #<%= flight.number %> - <%= flight.airline.name %></li>
      <p><b>Passengers:</b></p>
        <% flight.passengers.each do |passenger| %>
          <p><%= passenger.name %></p>
          <%= button_to "Remove #{passenger.name}", flight_passenger_path(flight, passenger), method: "delete" %>
        <% end %>
    </div>
  <% end %>
</ul>