<body>
  <section id="flight_list">
    <ul>
      <p><% @flights.each do |flight| %>
        <div id="flight_details-<%= flight.id %>">
          <p>Flight Details: <%=  flight.airline.name %> - #<%= flight.number %></p>
          <div id="flight_passengers">
            <p>Passengers:</p>
            <% flight.passengers.each do |passenger| %>
              <div id="<%= passenger.id %>-<%= flight.id%>">
                <li><%= passenger.name %>
                <%= button_to "Delete", passenger_path(passenger.id), method: :delete, params: {flight_id: flight.id} %></li>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </p>
    </ul>
  <section>