<h1> Flights Index </h1>



<%@all_flights.each do |flight|%>

  <div id="flight<%="#{flight.number}"%>">
  <h2>Flight Number and Airline Name</h2>
  <p><%=flight.number%> <%=flight.airline.name%> </p>

  Flight's Passengers:
  
    <%flight.passengers.each do |passenger|%>

      <%=passenger.name%> <%= link_to "Delete #{passenger.name}", "/passenger_flights/#{passenger.id}?flight=#{flight.id}", method: :delete %>
    <%end%>
   </div> 
    <br>
    <br>
<%end%>