<h2>All Flights</h2>
<br>
<ul>
  <% @flights.each do |flight| %>
    <div id=<%= flight.id %>>
      <li>Flight: <%= flight.number %></li>
      <li><%= flight.airline.name %> Airlines</li>
      <p>Passengers:</p>
      <% flight.passengers.each do |passenger| %>
        <%= passenger.name %>
        <%= button_to "Remove #{passenger.name}", flight_passenger_path(flight, passenger), method: :delete%>
      <% end %>
    </div>
  <% end %>
</ul>