<h3>All Flights</h3>

<ul>
  <% @flights.each do |flight| %>
    <div id=<%= flight.number %>>
      <li><h4>Flight #<%= flight.number %> - <%= flight.airline.name %></h4></li>
      <table>
        <tr>
          <th>Passengers</th>
          <th></th>
        </tr>
        
        <% flight.passengers.each do |passenger| %>
          <tr>
            <td><%= passenger.name %></td>
            <td><%= button_to "Remove #{passenger.name}", flight_passenger_path(flight, passenger), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</ul>