<h1>Flights</h1>

<div class = "flights_info">
  <% @flights.each do |flight| %>
  <div id= <%="flight_#{flight.id} "%>>
    <p><%= flight.number %>| Airline: <%= flight.airline.name %></p>
    <p>Passengers: <% flight.passengers.each do |passenger| %> 
        <ul>
         <li><%= passenger.name %> <%= link_to "Remove #{passenger.name} From Flight", passenger_flight_path(passenger.get_passenger_flight_id(flight)), method: :delete %><li> 
        </ul>
      <% end %>
    </p>
  </div>
  <% end %>
</div>