
<% @flights.each do |flight| %>
<div id="flight_<%= flight.id %>">
  <p>Flight Number: <%= flight.number %> Airline: <%=flight.airline.name%></p>
  <p>
  <% flight.passengers.each do |passenger| %>
    <%= passenger.name %><%= link_to "Remove #{passenger.name}", flight_passenger_flight_path(flight,passenger), method: :delete, local: true %>
  <% end %>
  </p>
</div>
<% end %>
