<h1>Flights</h1>
<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
      <%= "flight number: #{flight.number}"%><br><br>
        <%= "Airline: #{flight.airline.name}"%><br>
          <p>Passengers:</p>
            <% flight.passengers.each do |passenger| %>
              <div id="flight-<%= flight.id%>-passenger-<%= passenger.id %>">
              <%= passenger.name%><br><br>
              <%= button_to "Remove passenger", "passenger_flights/#{passenger.id}/#{flight.id}", method: :delete %>
            </div><br>
         <% end %>
      </div>
<% end %>